<a href="https://colab.research.google.com/github/VineetGp/Python-practice/blob/main/rows_with_null_in_multiple_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd

In [10]:
df = pd.DataFrame()
df['a'] = [1,2,np.nan, np.nan, 5, 6]
df['b'] = [2,3,np.nan, 3, np.nan,7]
df['c'] = [2,4,np.nan,np.nan, 8,9]

In [11]:
df

     a    b    c
0  1.0  2.0  2.0
1  2.0  3.0  4.0
2  NaN  NaN  NaN
3  NaN  3.0  NaN
4  5.0  NaN  8.0
5  6.0  7.0  9.0

In [12]:
# If we want the rows in which all columns are null, we use all function
col = list(df.columns)
mask = df[col].isnull().all(axis=1)
df[mask]

    a   b   c
2 NaN NaN NaN

In [14]:
mask = df[col].notnull().all(axis=1)
# Rows which don't have any null value
d1 = df[mask]
# Rows which have any single null value ~ means negation ie convert True to False and vice versa
d2 = df[~mask]
print(d1)
print('-'*100)
print(d2)

     a    b    c
0  1.0  2.0  2.0
1  2.0  3.0  4.0
5  6.0  7.0  9.0
----------------------------------------------------------------------------------------------------
     a    b    c
2  NaN  NaN  NaN
3  NaN  3.0  NaN
4  5.0  NaN  8.0

In [16]:
mask = df[col].isnull().any(axis=1)
print(df[mask])

     a    b    c
2  NaN  NaN  NaN
3  NaN  3.0  NaN
4  5.0  NaN  8.0

In [17]:
# Function for finding the rows which have null values in column>1
mask = []
for i in range(0,len(df)):
  count = 0
  for j in df.iloc[i].isnull():
    if j == True:
      count+=1
    else:
      continue
  if count>1:
    mask.append(True)
  else:
    mask.append(False)

In [18]:
print(df[mask])

    a    b   c
2 NaN  NaN NaN
3 NaN  3.0 NaN